/*******************************************************************************
 * Global
 *******************************************************************************/
body {
    word-wrap: break-word;
}

header,
footer {
    margin: 5em;
}

nav {
    margin: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Din, Noto Sans TC, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

ul,
li,
p,
a {
    font-family: Din, Noto Sans TC, sans-serif;
    letter-spacing: 0.1rem;
    font-weight: lighter;
}

a {
    color: black;
    cursor: auto;
}

a:hover {
    color: black;
    cursor: crosshair;
    text-decoration: none;
}

.img-thumbnail {
    border: 0;
    padding: 0;
    border-radius: 0;
}

/*******************************************************************************
 * header
 *******************************************************************************/

#nav-main {
    border-bottom: 1px solid #ddd;
    padding: 24px;
}

#nav-main ul {
    display: flex;
    justify-content: space-around;
    font-weight: lighter;
}

#nav-main ul li {
    padding: 0 50px 0 0;
    display: block;
}

#nav-main a {
    letter-spacing: 0.3rem;
    margin-right: 2rem;
    border-bottom: 0.3rem solid transparent;
    padding-bottom: 0.5rem;
}

#nav-main a:hover {
    background-color: transparent !important;
    border-bottom: 0.3rem dashed #b0bec5;
    text-decoration: none;
}


#header {
    text-align: center;
}

#header .logo {
    width: 150px;
}

.top-bar {
    width: 90%;
    left: 5%;
    position: fixed;
    margin-top: -8rem;
    padding-bottom: 1rem;
    z-index: 999;
    background: rgba(255%, 255%, 255%, 0.8);
    filter: alpha(opacity=80);
}

#footer {
    border-top: 1px solid #ddd;
    padding: 0 36px 0 36px;
}

#footer .footer-item {
    text-align: center;
    margin-top: 1.2rem;

}

#footer .footer-item ul {
    padding: 0;
}

#footer .footer-item ul li {
    display: block;
    margin-bottom: 0.8rem;
    letter-spacing: 0.2rem;
}

#footer h4 {
    margin-bottom: 1.2rem;
}

#footer a {
    border-bottom: 0.3rem solid transparent;
}

#footer a:hover {
    text-decoration: none;
    border-bottom: 0.3rem solid #b0bec5;

}

.subscribe a {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    background-color: #ced7db;
    color: #778f9b;
    border-style: none;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
}

.main-body {
    min-height: 500px;
}

/*******************************************************************************
 * Home
 *******************************************************************************/

#home-slide {
    padding: 0 5%;
}

#home-product-list {
    margin: 30px;
}

#home-product-list .product-item {
    padding: 18px;
    height: 600px;
}

#home-product-list .product-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.item-header {
    border-bottom: 1px solid #ddd;
    margin: 0 0 15px 0;
}


/*******************************************************************************
 * Product
 *******************************************************************************/

#product-item-container .img-thumbnail {
    width: 95%;
    object-fit: cover;
}

#product-item-container .item {
    height: 25%;
    margin-bottom: 2rem;
}

#category-item-container .img-thumbnail {
    width: 95%;
    object-fit: cover;
}

#category-item-container .item {
    height: 25%;
    margin-bottom: 2rem;
}

.list-group-item {
    border: none;
    color: black;
}

#series-item-container .img-thumbnail {
    width: 95%;
    object-fit: cover;
}

#series-item-container .item {
    height: 25%;
    margin-bottom: 5rem;
}

.item h4{
    margin-top: 1rem;
}

.item h4:hover{
    text-decoration: none;
}

.item p{
    margin-top: -0.6rem;
}

.product-types {
    margin-left: -2rem;
    padding: 0;
    width: 20rem;
    font-size: 1.3rem;
}

.product-types > a {
    padding: 1rem 0.5rem;
    transition: 0.6s;

}

.product-types > a:hover {
    background-color: #eceff1;
    border-radius: 0;
}

.divide-line {
    width: 90%;
    border-top: 1px dashed #ced7db;
    margin-left: -1.2rem;
}



/*******************************************************************************
 * Product detail
 *******************************************************************************/

#product-else {
    border-top: 1px solid #ddd;
    margin-top: 80px;
}

#product-else h3 {
    text-align: center;
}

.product-intro > h1 {
    font-size: 4rem;
    margin-top: 1.2rem;
    margin-bottom: -1rem;
    width: 35rem;
}

.product-intro > h3 {
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    width: 30rem;
}

.product-intro > p {
    width: 140%;
}

.textures {
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
}

.textures > a {
    cursor: pointer;

}

.textures > a:hover {
    opacity: 0.7;
}

.textures > a > img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 20px;
}

.dimensions {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.dimensions > p {
    margin-right: 3.5rem;
}

.info-customize {
    display: none;
    position: absolute;
    width: 65%;
    top: 64%;
    right: -12vh;
    background-color: #b1deda;
    color: #36464e;
    padding: 1rem 2rem 0.1rem 2.5rem;
    border-radius: 2rem;
    float: right;
    z-index: 1;
}

.product-intro > button {
    background-color: #36464e;
    border: none;
    width: 15rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-top: 3rem;
    letter-spacing: 0.1rem;
}

.product-intro > button:hover {
    box-shadow: 0px 0px 3px #36464e;
    -webkit-box-shadow: 0px 0px 3px #36464e;
    -moz-box-shadow: 0px 0px 3px #36464e;
}

.product-intro > button a {
    color: white;
}

/*******************************************************************************
 * Shop
 *******************************************************************************/

.shop-info {
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.shop-info ul {
    list-style-type: none;
    letter-spacing: 0.1rem;
}

.shop-info h3 {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.shop-info h6 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.shop-info a {
    font-size: 3rem;
    border-bottom: 0.5rem solid #fff;
}

.shop-info a:hover {
    color: black;
    border-bottom: 0.5rem solid #cfd8dc;
    text-decoration: none;
}


/*******************************************************************************
 * About
 *******************************************************************************/

.intro {
    display: flex;
    text-align: center;
    margin: 2rem 0 5rem 0;
}

.intro > p {
    font-size: 2.5rem;
    padding: 0;
    line-height: 4.2rem;
    letter-spacing: 0.1rem;
}

.intro > span {
    font-size: 7rem;
    padding: 0;
    text-align: left;
}

.intro > span:first-child {
    text-align: right;
}

.brand-banner {
    margin-bottom: 5rem;
}

.brand-banner img {
    width: 100%;
}

.brand-story img {
    width: 100%;
}

.brand-story > .row {
    margin-bottom: 12rem;
}

.brand-story > .row:nth-child(2) {
    text-align: right;
}

.brand-story h2 {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    line-height: 6rem;
}

.brand-story h4 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin: 2rem 0 2rem 0;
}

.odd-svg {
    margin-left: 1rem;
}

.even-svg {
    margin-right: 1rem;
}

.brand-story p {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    line-height: 2.4rem;
}

.disclaimer{
    text-align: center;
    color: #ccc; 
    margin-top: 6rem;
}

.disclaimer h6{
    line-height: 2rem;
    font-weight: 500;
}

/*--------RWD--------*/
@media (max-width: 1200px) {
    .intro > span{
        opacity: 0;
    }
    
    .product-intro > p{
        width: 100%;
    }
    
     .product-types{
        width: 95%;
        margin: 0;
    }
}


@media (max-width: 768px) {
    #header .logo {
        margin-top: 20%;
    }
    #nav-main {
        border-bottom: 1px solid #ddd;
        padding: 12px 0 12px 0;
    }
    .m-shift {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: 100%;
        background-color: #fff;
        z-index: 999;
    }
    .m-shift div {
        width: 80%;
        padding: 12px;
    }
    
    #home-product-list .product-item{
        height: 350px;
        margin-bottom: 4rem;
    }
    
    .intro > span{
        display: none;
    }
    
    .brand-story img{
        display: none;
    }
    
    .brand-story svg{
        width: 60%;
    }
    
    #footer .footer-item ul li{
        margin-bottom: 1rem;
    }
}

@media (max-width: 420px){
    
    #nav-main a {
        margin-right: 0.7rem;
    }
    
    #nav-main ul li{
        padding-right: 2.5rem;
    }
    
    .intro > p{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .brand-story h2{
        font-size: 3rem;
        line-height: 3rem;
    }
}
